iloveso2.db
.env
history.json
correction_reports.json
.cache
__pycache__
songs
API spotify.py
API spotify_token.py
API audd.py
browser_extension/
history.json
correction_reports.json
corrections.json
mangafire_downloads/
